*{
    margin:0;
    padding:0;
    border:0;
    text-decoration:none;
    box-sizing:border-box;

    font-size:62.5%;

    /* cores */
     --body-bg-color: #FAF7FD;
     --purple: #BB99DD;
}


body{
    background: var(--body-bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins",sans-serif;
    background-color: #0cbaba;
      background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

#content{
    display: flex;
    align-items:center;
    justify-content:center;
}

#box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#border{
    border: 0.3rem solid white;
    padding: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    width: 21.6rem;
}

#img-wrapper{
    width:20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

#img-wrapper > img{
    height:100%
}

#perfil p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size:1.6rem;
    color: white;
    text-align:center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

button{
    display:block;
    background-color: white;
    
    width:32.6rem;
    height:4.9rem;
    cursor:pointer;
    background-image: url();
    border-radius: .4rem;
    border: 2px solid white;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:1.6rem;
    color: black;

    margin-top: 1.6rem;
    margin-bottom:1.6rem;

    transition: .2s;
}


button:hover{
    transform: scale(1.05)
}

#redes-sociais{
    margin-top: 4rem;
    display:flex;
    align-items:center;
    justify-content:center;
}

#redes-sociais i:hover{
    transform: scale(1.3)
}

#redes-sociais i{
    transition: 0.3s;
}

#redes-sociais a{
    margin-left: 2.3rem;
    margin-right:2.3rem;
    color: white;
    font-size: 40px;
}

 

